*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/Android-Application/TrackYourWay-Working/.gradle
/Android-Application/TrackYourWay-Working/local.properties
/Android-Application/TrackYourWay-Working/.idea/workspace.xml
/Android-Application/TrackYourWay-Working/.idea/libraries
/Android-Application/TrackYourWay-Working/.DS_Store
/Android-Application/TrackYourWay-Working/build
/Android-Application/TrackYourWay-Working/captures
/Android-Application/TrackYourWay-Working/.idea
/Android-Application/TrackYourWay-Working/.idea/.name
/Android-Application/TrackYourWay-Working/.idea/compiler.xml
/Android-Application/TrackYourWay-Working/.idea/encodings.xml
/Android-Application/TrackYourWay-Working/.idea/gradle.xml
/Android-Application/TrackYourWay-Working/.idea/misc.xml
/Android-Application/TrackYourWay-Working/.idea/modules.xml
/Android-Application/TrackYourWay-Working/.idea/runConfigurations.xml
/Android-Application/TrackYourWay-Working/.idea/vcs.xml


